{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

	<form action="{% url 'mycoffee:create_coffee' %}" method="post" onchange="update_price()">
		{% csrf_token %}

		{{form|crispy}}
		<h3>Total: <span id="total">0.000</span>KWD</h3>
		<input type="submit" value="Create" class="btn btn-outline-dark">
	</form>
	<script>
	
	function update_price(){
		var bean = document.getElementById("id_bean");
		var bean_id = bean[bean.selectedIndex].value;

		var roast = document.getElementById("id_roast");
		var roast_id = roast[roast.selectedIndex].value;

		var espresso_shots = document.getElementById("id_espresso_shots");
		var espresso_shots_ammount = espresso_shots.value;

		var milk = document.getElementById("id_steamed_milk");
		var milk_value = milk.checked;

		var powders = document.getElementById("id_powders");
		var selected_powders = [];
		for(var i=0 ; i<powders.length ; i++ ){
			if(powders.options[i].selected){
				selected_powders.push(powders.options[i].value);
			}
		}

		var syrups=document.getElementById("id_syrups");
		var selected_syrups=[];
		for(var i=0; i<syrups.length ; i++){
			if(syrups.options[i].selected){
				selected_syrups.push(syrups.options[i].value)
			}
		}

		$.ajax({
			type: 'GET',
			url: '{% url "mycoffee:ajax_price" %}',
			data: {
				bean: bean_id,
				roast: roast_id,
				espresso_shots: espresso_shots_ammount,
				milk: milk_value,
				powders: JSON.stringify(selected_powders),
				syrups: JSON.stringify(selected_syrups)
			   },
			error: function() {
				console.log('There was an error connecting');
			   },
			success: function(data) {
				document.getElementById('total').innerHTML=data;
			   }
		});

	}
	</script>
	
{% endblock content %}